av==17.1.0
deep-translator==1.11.4
gTTS==2.5.4
ipykernel==7.3.0
joblib==1.6.0
keras==2.15.0
matplotlib==3.11.1
mediapipe==0.10.14
numpy==1.26.4
opencv-python==4.11.0.86
pandas==3.0.5
pillow==12.3.0
protobuf==4.25.3
pygame==2.6.1
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
seaborn==0.13.2
tensorflow==2.15.1
tqdm==4.70.0
urllib3==2.7.0
uvicorn==0.52.4