streamlit~=1.44.1
opencv-python~=4.11.0.86
numpy~=1.26.4
tensorflow~=2.18.0
mediapipe~=0.10.21
pillow~=10.4.0
tqdm~=4.67.1
scipy~=1.15.2
scikit-learn~=1.6.1
pygame~=2.6.1
googletrans~=4.0.0rc1
gTTS~=2.5.4
playsound